@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,700');
body {
  background-color: #212121;
  color: #FF5252;
  align-content: center;
  padding: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #993131;
}

p {
  color: white;
}
li {
  color:white;
}
div {
  font-family: 'Raleway', sans-serif;
  background-color: #373737;
  padding: 30px
}

.presentation {
}

.skills {}

.contact-info {

  background-color:#373737;
  
  
}

